<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Ведущая мероприятий Наталья Филонова</title>
    <link rel="icon" type="image/jpg" sizes="32x32" href="static/img/logo.jpg">

    {% block style %}{% endblock %}
</head>
<body style="background-image: url(static/img/fon2.jpg)">
<header>
    <header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="https://natalya-filonova.herokuapp.com/" class="nav-link px-2 text-white">Главная</a></li>
        <li><a href="https://natalya-filonova.herokuapp.com/reviews" class="nav-link px-2 text-white">Отзывы</a></li>
        <li><a href="https://natalya-filonova.herokuapp.com/anceta" class="nav-link px-2 text-white">Сделать заказ</a></li>
        <li><a href="https://natalya-filonova.herokuapp.com/price" class="nav-link px-2 text-white">Тарифы</a></li>
        <li><a href="https://natalya-filonova.herokuapp.com/contacts" class="nav-link px-2 text-white">Контакты</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search...">
      </form>
      {% if current_user.is_authenticated%}
       <div class="text-end">
        <a href="https://natalya-filonova.herokuapp.com/logout" class="btn btn-warning">Выйти</a>
      </div>
      {% else%}
      <div class="text-end">
          <a href="https://natalya-filonova.herokuapp.com/login" class="btn btn-outline-light me-2">Войти</a>
        <a href="https://natalya-filonova.herokuapp.com/register" class="btn btn-warning">Зарегистрироваться</a>
      </div>
      {% endif%}
    </div>
  </div>
    </header>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="static/img/logo.jpg" alt="" width="34" height="29">
        <small class="d-block mb-3 text-muted">&copy; 2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Филонова Наталья</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://natalya-filonova.herokuapp.com/" style="color: Oldlace">Обо мне</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://natalya-filonova.herokuapp.com/galery" style="color: Oldlace">Фотогалерея</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://natalya-filonova.herokuapp.com/contacts" style="color: Oldlace">Контакты</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Мероприятия</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://natalya-filonova.herokuapp.com/price" style="color: Oldlace">Тарифы</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://natalya-filonova.herokuapp.com/reviews" style="color: Oldlace">Отзывы клиентов</a></li>
        </ul>
      </div>

    </div>
  </footer>
</body>
</html>