{% extends "base.html" %}

{% block content %}
<div class="col-6 col-md">
        <h5 style="margin-top: 70px">Контакты и социальные сети</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none">Мобильный телефон: +7 905 894 94 41</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://instagram.com/natalia_golden26?igshid=z4c4bvug5dz8" target="_blank">Инстаграмм</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://vk.com/id227381473" target="_blank">Вконтакте</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none">Email: natalya.event@yandex.ru</a></li>
        </ul>
      </div>
{% endblock %}