{% extends "base.html" %}

{% block content %}
<h1 style="margin-top: 20px">Немного обо мне</h1>
<img src="static/img/main_page1.jpg" width="300"  style="margin-top: 40px" align="left" alt="здесь должна была быть картинка, но не нашлась">
<div style="margin-left: 400px; margin-top: 150px; font-weight:bold">Опытная ведущая душевных и мегапозитивных праздников. Вы получите всё, что хотите! Ведь праздник вашей мечты станет реальностью, если
мы будем вместе! Прокачайте эмоции и посмотрите на жизнь с другого ракурса! Заказывайте проведение праздников на сайте и подписывайтесь на мой инстаграм natalya_golden26</div>
<div class="text-end">
    <a href="https://natalya-filonova.herokuapp.com/galery" class="btn btn-warning" style="margin-left: 100px; margin-bottom: 150px; margin-top: 50px">Посмотреть фотогалерею</a>
</div>
{% endblock %}